:root {
  --color-primary: #04C2C9;
  --color-primary-light: #05C2C9;
  --color-primary-dark: #01A1A7;
  --color-white: #fff;
  --color-pink: #E31B6D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --default-font-size: 1.6rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 3rem; }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: relative; }

.heading-primary {
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: inline-block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-transform: uppercase; }
  .heading-primary--submain {
    display: inline-block;
    color: #FF3366;
    animation-name: moveFromRight;
    animation-timing-function: ease-out;
    animation-duration: 1.5s; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .75rem; }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(50rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

h1 {
  padding-bottom: 30rem; }
  @media only screen and (max-width: 90em) {
    h1 {
      padding-bottom: 20rem; } }
  @media only screen and (max-width: 75em) {
    h1 {
      padding-bottom: 10rem; } }

.heading-secondary {
  color: var(--color-pink); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  cursor: pointer; }

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: var(--color-pink);
  color: var(--color-white); }
  .btn--white::after {
    background-color: var(--color-pink); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }

.btn--animated {
  -webkit-animation-name: moveFromUp;
  animation-name: moveFromUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@keyframes moveFromUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }

.project__show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5rem 30rem; }
  @media only screen and (max-width: 90em) {
    .project__show {
      padding: 5rem 20rem; } }
  @media only screen and (max-width: 75em) {
    .project__show {
      padding: 5rem 10rem; } }

.project--photo {
  width: 100%;
  display: block;
  height: 100%;
  box-shadow: var(--shadow-dark);
  transform: scale(1);
  transition: all .5s; }

.project__show > figure {
  flex: 1 0 33%;
  text-align: center; }

.project {
  margin-top: -20vh;
  padding: 25rem 0 5rem 0;
  background-color: #0F1126;
  text-align: center;
  transition: all 1s;
  backface-visibility: hidden;
  border-style: none; }
  @media only screen and (max-width: 75em) {
    .project {
      margin-top: -15vh;
      padding: 18rem 0 0 0; } }

.project--shot {
  position: relative; }

.figure__text {
  font-size: 1.7rem;
  transform: translate(-50%, -350%);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  background-color: var(--color-pink);
  padding: .5rem 1rem; }
  @media only screen and (max-width: 90em) {
    .figure__text {
      transform: translate(-50%, -280%); } }

.figure__link {
  font-size: 1.7rem;
  transform: translate(-50%, 250%);
  background-color: var(--color-pink);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8rem; }
  @media only screen and (max-width: 90em) {
    .figure__link {
      transform: translate(-50%, 160%); } }

.project--shot:hover .figure__text {
  opacity: 1;
  transform: translate(-50%, -100%);
  box-shadow: var(--shadow-dark); }

.project--shot:hover .figure__link {
  opacity: 1;
  transform: translate(-50%, 100%);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 90em) {
    .project--shot:hover .figure__link {
      transform: translate(-50%, 80%); } }

.project--shot:hover .project--photo {
  filter: blur(0px) brightness(50%); }

@media only screen and (max-width: 75em) {
  .skill__svg {
    height: 220px;
    width: 220px; } }

.skill {
  text-align: center;
  padding-top: 10.8rem;
  padding-bottom: 5rem;
  background-color: #0F1126;
  transition: all .5s; }
  @media only screen and (max-width: 75em) {
    .skill {
      padding-top: 5.5rem; } }

.skill__main {
  background-image: linear-gradient(to right bottom, rgba(1, 238, 247, 0.4), rgba(2, 118, 122, 0.4)), url(../img/aperture-vintage-313010.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding-top: 15rem;
  box-shadow: var(--shadow-dark);
  transform: skewY(-6deg);
  z-index: 100; }
  @media only screen and (max-width: 75em) {
    .skill__main {
      transform: skewY(-5deg);
      padding-top: 10rem; } }

.stroke {
  display: block;
  position: relative;
  fill: #0F1126; }
  @media only screen and (max-width: 75em) {
    .stroke {
      cx: 110;
      cy: 110;
      r: 75; } }

.skill__svg {
  box-shadow: var(--shadow-dark); }

.skill__svg:hover {
  stroke: aqua;
  stroke-width: 8;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 8s  linear infinite; }

@keyframes rotate {
  to {
    stroke-dashoffset: 0; } }

.skill__show {
  max-width: 80%;
  text-align: center;
  padding-left: 50rem;
  transform: skewY(6deg);
  padding-bottom: 15rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 90em) {
    .skill__show {
      max-width: 90%;
      padding-left: 20rem;
      padding-top: 5rem; } }
  @media only screen and (max-width: 75em) {
    .skill__show {
      transform: skewY(5deg); } }

.skill__heading {
  transform: skewY(6deg); }
  @media only screen and (max-width: 75em) {
    .skill__heading {
      transform: skewY(5deg); } }

.timer {
  font-size: 2.5rem;
  font-weight: 600; }

.section-contact {
  padding-top: 25rem;
  padding-bottom: 5rem;
  margin-top: -15vh;
  background-color: #0F1126; }
  @media only screen and (max-width: 90em) {
    .section-contact {
      padding: 25rem 25rem 5rem 25rem; } }
  @media only screen and (max-width: 75em) {
    .section-contact {
      padding: 22rem 17rem 5rem 17rem; } }

.contact__heading {
  padding-bottom: 3rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.contact {
  background-image: linear-gradient(105deg, #01EEF7 0%, #02767A 50%, transparent 50%), url(../img/jad-limcaco-272413.jpg);
  background-position: top;
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.contact__form {
  width: 50%;
  padding: 4rem; }
  @media only screen and (max-width: 90em) {
    .contact__form {
      padding: 2rem; } }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-control {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form-control::placeholder {
    color: #0F1126; }
  .form-control:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #E31B6D; }
  .form-control:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form-control::webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: #0F1126; }

.form-control:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.footer {
  background-color: #E31B6D;
  padding: 5rem 10rem 5rem 10rem; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 5rem 10rem 3rem 10rem; } }

.footer__icon {
  display: flex;
  justify-content: center; }

.icon {
  height: 7rem;
  width: 7rem;
  padding: 0 2rem;
  border: 1px solid #FF3366;
  box-shadow: var(--shadow-dark);
  transition: all 1s ease-out; }
  .icon:hover, .icon:active {
    background-color: #fff; }

.footer__text {
  padding: 2rem 5rem 0 5rem; }

.copyright {
  text-align: center;
  font-size: 2rem;
  color: white;
  width: auto; }
  .copyright__highlights:link, .copyright__highlights:visited {
    color: currentColor;
    text-decoration: none;
    transition: all .2s; }
  .copyright__highlights:hover, .copyright__highlights:active {
    color: #E31B6D;
    background-color: #0F1126;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    display: inline-block; }

.header {
  background-image: linear-gradient(to right bottom, rgba(1, 238, 247, 0.4), rgba(2, 118, 122, 0.4)), url(../img/jeshoots-com-219386.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  z-index: 200; }
  @media only screen and (max-width: 75em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }

nav {
  display: none; }

.nav__bar {
  background-color: #E31B6D;
  position: fixed;
  height: 8rem;
  width: 96.85%;
  display: block;
  border-bottom: 3px solid #FF3366;
  top: 0;
  padding: 2rem;
  box-shadow: var(--shadow-dark);
  z-index: 30000; }
  @media only screen and (max-width: 90em) {
    .nav__bar {
      width: 96.05%; } }
  @media only screen and (max-width: 75em) {
    .nav__bar {
      width: 95.3%; } }

.nav__bar .nav__list {
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem; }

.nav__bar .nav__list li {
  font-size: 2.4rem;
  list-style: none; }
  .nav__bar .nav__list li:not(:last-child) {
    padding-right: 1rem; }

.nav__bar .nav__list li a:link,
.nav__bar .nav__list li a:visited {
  text-decoration: none;
  color: #fff;
  transition: all 1s;
  padding: 7px; }

.nav__bar .nav__list li a:hover,
.nav__bar .nav__list li a:active {
  color: #E31B6D;
  background-color: #0F1126;
  border-radius: 10px; }
