:root {
    --color-primary: #04C2C9;
    --color-primary-light: #05C2C9;
    --color-primary-dark: #01A1A7;

    --color-white: #fff;
    --color-pink: #E31B6D;

    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);

    --line: 1px solid var(--color-grey-light-2);

    --default-font-size: 1.6rem;
}


    $color-primary: #04C2C9;
    $color-primary-light: rgb(1, 238, 247);
    $color-primary-dark: rgb(2, 118, 122);

    // $color-primary: #55c57a;
    // $color-primary-light: #7ed56f;
    // $color-primary-dark: #28b485;

    $color-primary: #E31B6D;

    // $color-primary: #eb2f64;
    // $color-primary-light: #FF3366;
    // $color-primary-dark: #BA265D;

    $color-white: #fff;
    $color-black: #000;
    $default-font-size: 1.6rem;

    $color-grey-dark : #777;
    $color-grey-dark-2 : #999;
    $color-grey-dark-3 : #333;

    $color-grey-light-1: #f7f7f7;
    $color-grey-light-2: #eee;

    $color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// @mixin respond($breakpoint) {
//     @if $breakpoint == phone {
//         @media only screen and (max-width: 37.5em) {@content};
//     }
    
//     @if $breakpoint == tab-port {
//         @media only screen and (max-width: 56.25em) {@content};
//     }
    
//     @if $breakpoint == tab-land {
//         @media only screen and (max-width: 75em) {@content};
//     }
    
//     @if $breakpoint == big-desktop {
//         @media only screen and (min-width: 112.5em) {@content};
//     }
// }

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};
    }
    
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content};
    }
    
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content};
    }
    
    @if $breakpoint == laptop {
        @media only screen and (max-width: 90em) {@content};
    }
}



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(laptop) {
        font-size: 56.25%; //1 rem =9px;
    }

    @include respond(tab-land) { //width<1200
        font-size: 50%; //1 rem =8px;
    }
    
    // @include respond(tab-port) { //width<900
    //     font-size: 50%;
    // }
    
     
    
 
    
     
    
   
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    padding: 3rem;
}