////////////////////////
//FRONT PAGE

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
}
.heading-primary {
    // color: var(--color-white);
    
    
    backface-visibility: hidden;
    margin-bottom: 5rem;


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1rem;
        text-transform: uppercase;
        

    }

    &--submain {
        color:#FF3366;
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .75rem;
    }
}

h1 {
    padding-bottom: 30rem;
}
.heading-secondary {
    color: var(--color-pink);
}

////////////////////////
///Button

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        -webkit-transition: all .2s;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        font-family: inherit;
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        -webkit-transform: translateY(-.3rem);
        transform: translateY(-.3rem);
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black,.2);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        
        &::after {
        -webkit-transform: scaleX(1.4) scaleY(1.6);
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    }
    
    &:active,
    &:focus {
        outline: none;
        -webkit-transform: translateY(-.1rem);
        transform: translateY(-.1rem);
        -webkit-box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white {
        background-color: var(--color-pink);
        color: var(--color-white);
        
        &::after {
        background-color: var(--color-pink);
        }   
    }
    
 
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    
    &--animated {
        -webkit-animation-name:  moveInBottom;
        animation-name:  moveInBottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-delay: .75s;
        animation-delay: .75s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
    }   
    }
    
    
    


///////////////
///portfolio

.section-portfolio {
   
    padding: 25rem 0;
    margin-top: -20vh;
    position: relative;
    text-align: center;
    background: color #fff;;
    // height: 1rem;
    box-shadow: var(--shadow-light);
    height: 0;

    &--text {
        padding: 2rem 30%;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-center-text {
    text-align: center;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.paragraph {
    font-size: 1.6rem;  
}


//////////
//PROJECT

.project,
.skill {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    
    background-color: #FFFFFF;
    transition: all .5s;
    backface-visibility: hidden;
    
}

.project__show {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5rem 30rem;
    backface-visibility: hidden;

    
    
 

    
}

.project__show > figure {
    display: flex; 
    flex-basis: calc(33.3%);  
    justify-content: center;
    flex-direction: column;
    backface-visibility: hidden;
  }

.project--photo {
    width: 100%;
    display: block;
    height: 100%;
    box-shadow: var(--shadow-dark);
    backface-visibility: hidden;
    // transform: scale(1);
    transition: all .5s;
    
    
    
  
}

.project--shot {
    position: relative;
    backface-visibility: hidden;
  


}

.figcaption {

}

.figure__text {
    font-size: 1.7rem;
    
    transform: translate(-50%, -450%);
    // border: 1px solid var(--color-pink);
    color: #fff; 
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    background-color: var(--color-pink);
    padding: .5rem 1rem;
    
}

.figure__link {
    font-size: 1.7rem;
  
    transform: translate(-50%, 250%);
    background-color: var(--color-pink);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 8rem;
   
}

.project--shot:hover .figure__text {
    opacity: 1;
    transform: translate(-50%, -100%);
    box-shadow: var(--shadow-dark);
    
}

.project--shot:hover .figure__link {
    opacity: 1;
    transform: translate(-50%, 100%);
    box-shadow: var(--shadow-dark);
    
}

.project--shot:hover .project--photo{
    filter: blur(0px) brightness(50%);
}




///////////////////////////////
//skill


.stroke {
    display: block;
    position: relative;
    fill: #0F1126;
   
      
    }

    svg:hover {
    stroke: aqua;
      stroke-width: 8;
      stroke-dasharray: 250;
      stroke-dashoffset: 1000;
      animation: rotate 8s  linear infinite ;
    }

    @keyframes rotate {
        to {
          stroke-dashoffset: 0;
        }
      }


      .skill__show {
        max-width: 80%;
        text-align: center;
        padding-left: 50rem;
        transform: skewY(6deg);
        padding-bottom: 15rem;
        
      }

      .skill__heading {
        transform: skewY(6deg);

      }


      
 .timer {
    font-size: 2.5rem;
    font-weight: 600;
 }

 svg {
    box-shadow: var(--shadow-dark);
 }